 @import 'https://fonts.googleapis.com/css?family=Roboto:100,300';

 body{
  font-family: 'roboto';
  margin: 0;
  padding: 0;
  background-color: rgb(248, 248, 248);
  height: 100%;
  width: 80%;
 }

canvas{
	margin-top: 1rem;
}

summary{
	cursor: pointer;
	height: 1.5rem;
	user-select: none; 
}

details{
  text-align: left;
	color: rgb(100, 100, 100);
	font-weight: bold;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d3;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 470px;
	margin: 10px;
	transition: height 0.6s ease;
  overflow: hidden;
}

.details-custom:not([open])
{
    height: 60px;
}

.details-custom[open]
{
    height: 160px;
}

.details-custom summary::-webkit-details-marker {
	position: relative;
	left: 90%;
}

*:focus {
    outline: none;
}

/* Style the tab */
.tab {
  overflow: hidden;

  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  width: fit-content;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 3px solid rgba(255, 99, 132, 1);
  background-color: lightgrey;
  position: relative;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 3px solid rgba(54, 162, 235, 1);
  position: relative;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/*Estadísticas*/
.statistics-container{
  /*background-color: white;*/
  text-align: center;
  width: 100%;
  border-radius: 8px;
  margin: 2px;
}

.card-wraper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: fit-content;

}

.card-custom {
  width: 90px;
  height: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 12px;

}

h3, p{
  font-size: 15px;

}

h3{
  font-weight: bold;
}
