body{
    background: #8cbeac;
    padding: 0;
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 1rem;
}


input[type=number], select {
    width: 100%;
    padding: 10px 20px;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    color: #6d8486;
    font-size: 1rem;
  }


  input[type="file"]{
      display: none;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #5e8a7a;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
   
  input[type=submit]:disabled {
    width: 100%;
    background-color: #858a85;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: default;
  }

  input[type=submit]:disabled:hover {
    width: 100%;
    background-color: #858a85;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: default;
  }
  
  input[type=submit]:hover {
    background-color: #324b42;
  }
  
.grid-container {
  display: grid;
  grid-template-columns: 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10%;
  gap: 1px 1px;
  grid-template-areas: "form form form form" "form form form form" "form form form form";

}

.form {
  color: #6d8486;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 65% 35%;
  gap: 10px 10px;
  grid-template-areas: "left-form right-form" "bottom-form bottom-form";
  grid-area: form;
  width: 42%;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
  background-color: #d7dee2;
  padding: 2%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 35%;
}

.left-form { 
    grid-area: left-form; 
    margin: auto;
}

#drop-area { 
    grid-area: right-form; 
    width: 90%;    
    height: 100%;
    outline: dashed 2px #6d8486;
    outline-offset: -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: inline-block;
    
}
#drop-area.highlight {
  outline: solid 2px #324b42;
  color: #324b42;
}

#drop-area.uploaded {
  outline: solid 2px #6d8486;
  color: #6d8486;
}

.bottom-form { 
    grid-area: bottom-form; 
}

#input{
    cursor: pointer;
    /*color: #6d8486;*/
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description{
    margin-top: 12%;
    position: relative;
    text-align: center;
    font-size: 50px;
    width: 100%;
}

*:focus {
    box-shadow: 0 0 1px 1px #5e8a7a;
    transition: 0.2s ease;
}

